/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background-image: url("bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  margin: 0.25em;
  padding: 0.5em;
}

nav {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -2;
}

.link {
  position: relative;
  display: flex;
  clear: left;
}

.avatar {
  padding: 0.8em;
  margin: 1em;
  position: relative;
  max-height: 8.4em;
  max-width: 8em;
  border-radius: 5em;o
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar::after,.avatar::before {
content: "";
  position: relative;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5em;
  background: linear-gradient(235deg, #2c23ff, #ff00e9);
}

.avatar::before {
  filter: blur(5px);
  z-index: -1;
}

.avatar::after {
  filter: blur(25px);
  z-index: -2;
}

.avatar > img {
  position: relative;
  max-height: 10em;
  border-radius: 5.2em;
}
