body {
  margin: 0;
  padding: 0;
  background-image: url("bg_img.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 0.25em;
  padding: 0.5em;
}

nav {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, #b5d4ff, #f2f2f2, #b5d4ff);
  background: -moz-linear-gradient(to bottom, #b5d4ff, #f2f2f2, #b5d4ff);
  background: -o-linear-gradient(to bottom, #b5d4ff, #f2f2f2, #b5d4ff);
  background: -webkit-linear-gradient(to bottom, #b5d4ff, #f2f2f2, #b5d4ff);
  border: 1px inset #f2f2f2;
  border-radius: 0.5em;
  z-index: -2;
}

.link {
  display: flex;
  clear: left;
  position: relative;
}

.avatar {
  padding: 0.8em;
  margin: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 8.4em;
  max-width: 8em;
  background: #f2f2f2;
  border-radius: 5em;
}

.avatar::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #f2f2f2;
  z-index: -1;
  filter: blur(5px);
  border-radius: 5em;
}

.avatar::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #f2f2f2;
  z-index: -2;
  border-radius: 5em;
  filter: blur(25px);
}

.avatar::after,
.avatar::before {
  background: linear-gradient(235deg, #88ff00, #f2f2f2, #00d0ff);
}

.avatar > img {
  position: relative;
  border-radius: 5.2em;
  max-height: 10em;
}
