body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-image: url("bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 0.25em;
  padding: 0.5em;
}

nav {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -2;
}

.link {
  position: relative;
  display: flex;
  clear: left;
}

.avatar {
  padding: 0.8em;
  margin: 1em;
  position: relative;
  max-height: 8.4em;
  max-width: 8em;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5em;
  filter: blur(5px);
  z-index: -1;
}

.avatar::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5em;
  filter: blur(25px);
  z-index: -2;
}

.avatar::after,.avatar::before {
  background: linear-gradient(235deg, #2c23ff, #ff00e9);
}

.avatar > img {
  position: relative;
  max-height: 10em;
  border-radius: 5.2em;
}
