/*Cards container CSS */
#project-bg {
    background-color: #9F8170;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 360px;
    margin-top: 3.25rem;
    padding: 1.25rem;
    margin-bottom: 3.25rem;

}

/* Cards CSS */
.cards {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height: 360px;
    background-color: #A67B5B;
    font-weight: 600;
    -webkit-box-shadow: 2px 5px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 24px 0px rgba(0, 0, 0, 0.75);
}

.cards>hr {
    margin-top: 0.5rem;
}

.cards>div {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    clear: left;
}

/* Cards thumbnail CSS */
.cards-fig {
    display: flex;
    height: 60%;
    overflow: hidden;
    border-radius: inherit;
}

.cards-fig>img {
    overflow: hidden;
    border-radius: inherit;
}

.cards-desc {
    display: flex;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    margin: 0.25rem;
    color: white;
    font-stretch: semi-expanded;
    font-weight: 500;
    font-size: large;
    text-transform: capitalize;
    height: 100%;
}

/* Cards button CSS */
.cards-button {
    position: relative;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 0.1em 1em;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
}

.cards-button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.cards-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.cards-button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.cards-button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.cards-button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.cards-button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.cards-button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.cards-button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}